@import "compass/css3"
@import "compass/reset"

@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic,400italic&subset=latin,latin-ext")
@import "glyphicons.css"

@import "mixins"
@import "variables"


*, *::before, *::after
  +box-sizing()

body
  background-color: lighten($primary-color, 20%)
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif
  color: #eee

#sidebar
  background-color: $primary-color
  width: $sidebar-width
  box-shadow: 2px 0 10px rgba(#000, 0.3)
  font-family: Lato, sans-serif
  font-weight: 300
  position: fixed
  top: 0
  bottom: 0
  left: 0

#user
  background-color: rgba(#000, 0.2)
  padding: 0.5em
  position: relative

  > div
    display: inline-block
    vertical-align: middle

#user__avatar
  width: 45px
  height: 45px
  border-radius: 50%

  > img
    width: 100%
    display: block

#user__name
  width: calc(100% - 45px)
  padding-left: 0.5em

#navigation
  text-align: center

  > li
    padding: 1em
    cursor: pointer
    text-transform: uppercase
    font-size: 0.8em

.navigation--active
  background-color: rgba(#fff, 0.05)

.navigation__icon
  font-size: 2.5em
  margin-bottom: 0.2em