@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic,400italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic&subset=latin,latin-ext");
@import url(glyphicons.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #00b2ed;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}

body, html {
  height: 100%;
}

input, button, textarea, select, option {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.4em 0.6em;
  outline: none;
  border: 0;
  font-size: 1em;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  transition: all 0.5s;
}

select, option {
  padding: 0.2em;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#sidebar {
  background-color: #0093c4;
  width: 12em;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

#user {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  position: relative;
}
#user > div {
  display: inline-block;
  vertical-align: middle;
}

#user__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#user__avatar > img {
  width: 100%;
  display: block;
}

#user__name {
  width: calc(100% - 45px);
  padding-left: 0.5em;
}

#navigation {
  text-align: left;
}
#navigation > li {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
}
#navigation > li:not(.navigation--active):hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#navigation a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navigation--active {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation__icon {
  display: inline;
  font-size: 1.8em;
  margin-right: 0.4em;
  vertical-align: middle;
}

#error-log {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bd3c3c;
  padding: 0.7em 1em;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#error-log.success {
  background-color: rgba(60, 189, 82, 0.66);
}

#content {
  margin-left: 12em;
  height: 100%;
  position: relative;
}

.default__append__component {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 20vw;
}
.default__append__component + div {
  margin-left: 20vw;
}
.default__append__component > h2 {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
  display: block;
  padding: 0.6em;
  margin-bottom: 0.4em;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.append-form {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  padding: 0.7em;
}
.append-form > div:not(:last-child) {
  margin-bottom: 1em;
}
.append-form input, .append-form textarea, .append-form select {
  margin-top: 0.5em;
  width: 100%;
}

.data-display {
  padding: 0.5em;
}

.table {
  border-collapse: collapse;
  color: #ddd;
  width: 100%;
  table-layout: fixed;
}
.table input, .table select, .table option, .table button {
  max-width: 100%;
}
.table a:link, .table a:visited {
  text-decoration: none;
  color: #008cba;
  border-bottom: 2px solid rgba(0, 159, 212, 0.7);
  transition: all 0.5s;
  font-weight: bold;
}
.table a:hover {
  color: #009fd4;
}
.table th {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  padding: 0.6em !important;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.table th, .table td {
  border-bottom: 1px solid #00b2ed;
  padding: 1em;
  width: 100%;
}
.table th:not(:first-child), .table td:not(:first-child) {
  text-align: center;
}
.table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}

.table__empty > td {
  text-align: center;
}

.no-data {
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.crud-button {
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  opacity: 0.6;
  transition: all 0.5s;
}
.crud-button:hover {
  opacity: 1;
}

.crud-delete-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 0.3em;
  display: none;
}
.crud-delete-box > button {
  background-color: rgba(0, 0, 0, 0.2);
}

[data-crud-actions] {
  position: relative;
  overflow: hidden;
}

#subject__name, #class__name {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#subject__courses__actions {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0.8em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#subject__courses__actions > button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
#subject__courses__actions > button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#subject__courses {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
#subject__courses > li {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
#subject__courses > li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.courses__title {
  font-size: 1.3em;
}

.courses__classes {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.courses__classes__year {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.04);
  margin: 0 0.2em;
  padding: 0.2em;
  cursor: pointer;
  transition: all 0.5s;
}
.courses__classes__year:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* User files */
#csf {
  height: 100%;
  margin-top: -4.5em;
  padding-top: 4.5em;
}
#csf section {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: auto;
}

#csf__subjects {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}

.csf__subject {
  padding: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.csf__subject:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.csf__subject.csf__subject--active {
  background-color: rgba(0, 0, 0, 0.1);
}

.csf__subject__name {
  font-size: 1.2em;
}

.csf__subject__count {
  float: right;
}
.csf__subject__count > div {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

#csf__files {
  width: 70%;
}

#csf__files__list > li:not(:first-child) {
  display: none;
}

a.csf__file__download:link, a.csf__file__download:visited {
  border: 0;
  color: white !important;
  text-decoration: none;
}

#file__upload__button {
  padding: 0.7em;
  font-size: 0.6em;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}
#file__upload__button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#hiddenfile {
  height: 0;
  width: 0;
  overflow: hidden;
}

#file__upload__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}

#file__upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 1em;
  background-color: #ddd;
  border-radius: 3px;
  color: #555;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#file__upload > h1 {
  font-size: 1.3em;
  font-family: Roboto, sans-serif;
}

#file__upload__count {
  color: #00b2ed;
}

#file__upload__list {
  margin: 1em 0;
  max-height: 50vh;
  overflow: auto;
}
#file__upload__list > li {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: relative;
  color: #444;
  overflow: hidden;
}
#file__upload__list > li:not(:last-child) {
  margin-bottom: 0.5em;
}

.file__upload__remove {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
.file__upload__remove:hover {
  opacity: 1;
}

.file__upload__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: rgba(0, 177, 206, 0.5);
  z-index: -1;
  transition: all 0.5s;
}
.file__upload__progress.success {
  background-color: rgba(0, 180, 0, 0.3);
  width: 100% !important;
}
.file__upload__progress.error {
  background-color: rgba(255, 0, 0, 0.4);
  width: 100% !important;
}

#file__upload__actions > button {
  background-color: #00b2ed;
  border-radius: 3px;
}

/* Professor's classes */
#csf__classes__list {
  width: 15%;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
#csf__classes__list li {
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
#csf__classes__list li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
#csf__classes__list li.csf__class--active {
  background-color: rgba(0, 0, 0, 0.1);
}

.csf__class__name {
  font-size: 1.2em;
}

#csf__classes__content {
  width: 85%;
}
#csf__classes__content > ul {
  height: 100%;
}
#csf__classes__content > ul > li {
  height: 100%;
}
#csf__classes__content > ul > li:not(:first-child) {
  display: none;
}

@media only screen and (min-width: 1600px) {
  #sidebar {
    width: 15vw;
  }

  #content {
    margin-left: 15vw;
  }
}
